<ion-header [translucent]="true">

  <div class="main-menu">
    <h3>facebook</h3>
    <div class="primary-menu">
      <ion-icon name="search"></ion-icon>
      <ion-icon name="menu"></ion-icon>
    </div>
  </div>

  <!-- Slider container -->
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><ion-icon name="home" routerLink="/home"></ion-icon></div>
      <div class="swiper-slide"><ion-icon name="person" routerLink="/profile"></ion-icon></div>
      <div class="swiper-slide"><ion-icon name="chatbubble" routerLink="/chat"></ion-icon></div>
      <div class="swiper-slide"><ion-icon name="notifications" routerLink="/notifications"></ion-icon></div>
      <div class="swiper-slide"><ion-icon name="people" routerLink="/groups"></ion-icon></div>
      <div class="swiper-slide"><ion-icon name="desktop" routerLink="/devices"></ion-icon></div>
      <div class="swiper-slide"><ion-icon name="home" routerLink="/home"></ion-icon></div>
      <div class="swiper-slide"><ion-icon name="person" routerLink="/profile"></ion-icon></div>
      <div class="swiper-slide"><ion-icon name="chatbubble" routerLink="/chat"></ion-icon></div>
      <div class="swiper-slide"><ion-icon name="notifications" routerLink="/notifications"></ion-icon></div>
      <div class="swiper-slide"><ion-icon name="people" routerLink="/groups"></ion-icon></div>
      <div class="swiper-slide"><ion-icon name="desktop" routerLink="/devices"></ion-icon></div>
    </div>
  </div>

</ion-header>

<ion-content [fullscreen]="true">
  <div class="groups-container">
    <!-- Grupos que você está -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Grupos em que você está</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let group of groupsYouBelongTo">
            <ion-icon name="people" slot="start"></ion-icon>
            <ion-label>{{ group.name }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <!-- Sugestões de grupos -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Sugestões de Grupos</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let group of suggestedGroups">
            <ion-icon name="people" slot="start"></ion-icon>
            <ion-label>{{ group.name }}</ion-label>
            <ion-button slot="end" size="small">Participar</ion-button>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
